:root {
--title-color: #2E2F42;
--main-text-color: #434455;
--second-text-color: #ffffff;
--pressed-state: #404BBF;

}

body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.link{
    text-decoration: none;
}
.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #2E2F42;
}
.header-logo span {
    color: #4D5AE5;
}
.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.header-menu-link:is(:hover, :focus) {
    color: var(--pressed-state);
}
.header-address-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.header-address-link:is(:hover, :focus){
    color: var(--pressed-state);
}
.hero {
    background-color: #2E2F42;
}

.hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}

.hero-btn {
       font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5; 
        letter-spacing: 0.04em;
        color: #FFFFFF;
}
.benefits {}

.benefits-list {}

.benefits-item {}

.benefits-subtitle {        
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
}

.benefits-item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
}
.activity {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--title-color);
}
.team {
}

.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--title-color);
}

.team-list {}

.team-item {}

.team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
}

.team-item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
}
.footer{
        background-color: #2E2F42;
}
.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}
.footer-logo span{
    color: #4D5AE5;
}
.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}

.categories-list {}


.categories-btn { 
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        cursor: pointer;
    }
    .categories-btn:is(:hover, :focus) {
    color: #FFFFFF;
}

.product-list {}

.product-item {}

.product-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
}

.product-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
}